/* TEXT (h1-h4, p) */
h1{
  font-family:Arial, sans-serif ;
  font-size: 60px;
}

h2{
  font-size: 40px;
}

h3{
  font-size: 30px;
}

h4{
  font-size: 20px;
  padding-top: 30px;
}

p{
  font-size: 15px ;
  margin: 0 30%;
}

p, h3, h4, ul, ol {
  font-family:Arial, sans-serif ;
  color: white;
}

/* CONTAINERS */

header, Section, Footer {
  text-align: center;
}

body{
  background-color:black; 
}

header{
  background-color: #fff;
  height: 155px;
}

footer > p {
margin: 10px;
}


/* LISTS */
ol {
  text-align: left;
  margin: 0 30%;
  padding-top: 20px;
}

ul {
  text-align: center;
  margin: 0 45%;
  padding-top: 5px;
  padding-left: 3px
}


/* IMAGES */
img {
  width:200px;
}


/* CLASS */

.black-font{
  color: black;
}

.white-font{
  color: white;
}

.small-font{
  font-size: 10px;
}

.text-left{
  text-align: left;
  margin: 0 30%;
}

.short-hr{
  margin: 0% 30%;
  margin-top: 20px;
  border: solid #fff 2px;
}

/* LINKS */
a {
  font-family: Arial, sans-serif;
  font-size: 15px;
}

a:link    { color: white;  }
a:visited { color: yellow;   }
a:hover   { color: greenyellow; }
a:active  { color: rgb(159, 240, 243);  }
