/* TEXT */
h1 {
  font-family:Arial, sans-serif ;
  font-size: 60px;
}

h2 {
  font-size: 40px
}

h3 {
  font-size: 30px
}

h4 {
  font-family:Arial, sans-serif ;
  font-size: 20px;
  padding-top: 30px;
}

p, h2, h3, h4, ul {
  font-family:Arial, sans-serif ;
  color: white;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px ;
  margin: 0 30%;
}
.black-font{
  color: black;
}

.white-font{
  color: white;
}

.small-font{
  font-size: 10px
}

header, Section, Footer {
  text-align: center;
}

ul {
  text-align: left;
  margin: 0 30%;
  padding-top: 20px
}

.text-left{
  text-align: left;
  margin: 0 30%
}

a {
  font-family: Arial, sans-serif;
  font-size: 15px;
}

/* design features */
img {
  width:200px;
}
body{
  background-color:black; 
}
header{
  background-color: #fff;
}

.short-hr{
  margin: 0% 30%;
  margin-top: 20px;
  border: solid #fff 2px
}

footer > p {
margin: 10px;
}

a:link    { color: white;  }
a:visited { color: yellow;   }
a:hover   { color: greenyellow; }
a:active  { color: rgb(159, 240, 243);  }
